dist: bionic
group: travis_latest

os: linux
language: python

matrix:
  include:
    - env: CC=gcc

install:
  - pip install meson ninja
  - sudo apt-get update
  - sudo apt-get install gfortran
  - sudo apt-get install libgsl-dev

script:
  - meson builddir -DENABLE_TEST=true
  - ninja -C builddir
  - ninja -C builddir test