dist: bionic
group: travis_latest

os: linux
language: python

matrix:
  include:
    - env: CC=gcc

install:
  - pip install meson ninja
  - sudo apt-get install gsl2

script:
  - meson builddir
  - ninja -C builddir
  - ninja -C builddir test